@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.skillPage {
  height: 100vh;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
  background-size: cover;
  /* flex: 0.85; */
  color: white;
  justify-content: center;
  margin-left: 15%;
  width: 85%;
  overflow-y: overlay;
}

.skillSets {
  text-align: center;
  margin-top: 30px;
  font-family: "Arvo", serif;
}

.skillPage > .skill_lists {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Arvo", serif;
}
